DataProcessor/TestCommonLIB/Schemas/TestProcessList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/TestProcessList" xmlns:tns="http://www.example.org/TestProcessList" elementFormDefault="qualified">



    <complexType name="TestProcessesType">
    	<sequence>
    		<element name="processPath" type="string" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <element name="TestProcesses" type="tns:TestProcessesType"></element>
</schema>